.env
bin/
obj/
out/

*.user
*.rsuser
*.suo

.vscode/
.vs/
*.code-workspace

*.log
*.ldb

publish/
publish_output/

*.nupkg
*.snupkg
.nuget/

packages/
node_modules/

.DS_Store

Thumbs.db
desktop.ini

*.tmp
*.temp
